@model ProductListViewModel

<div class="row">
    <div class="col-md-3 mt-4">
        @await Component.InvokeAsync("Categories")
    </div>

    <div class="col-md-9 mt-4">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4">
                    @await Html.PartialAsync("/Views/Shared/Partials/_product.cshtml", product)
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <ul class="pagination">
            @for (int pageNum = 0; pageNum < Model.PageInfo.TotalPages; pageNum++)
            {
                /* Eger hazirda her hansi bir kateqoriya secilmeyibse - sehifeleri yaradiriq, elave olaraq sehife nomresini yerlewdiririk query stringe ('List' action metodunda bu parametri yaxalayiriq): */
                @if(String.IsNullOrEmpty(Model.PageInfo.CurrentCategoryID.ToString()))
                {
                    <li class="page-item @(Model.PageInfo.CurrentPage == (pageNum+1) ? "active" : "")">
                        <a class="page-link" href="/products?page=@(pageNum + 1)">@(pageNum + 1)</a>
                    </li>
                }
                /* Eger hansisa kateqoriya secilibse hemin kateqoriyadaki produktlara uygun pagination yaradacayiq, elave olaraq sehife nomresini yerlewdiririk query stringe ('List' action metodunda bu parametri yaxalayiriq): */
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/products/@Model.PageInfo.CurrentCategoryID?page=@(pageNum + 1)">@(pageNum + 1)</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
}