<header>
    <div class="jumbotron jumbotron-fluid bg-light p-4 m-2 border">
        <div class="container">
            <div class="text-center">
                <h1 class="display-4">Shop App</h1>

                <p class="lead">Consectetur adipiscing elit luctus semper placerat nunc ridiculus varius non dictumst morbi diam auctor magnis mi ad dis litora fames eget nullam fermentum natoque tempor euismod vestibulum penatibus sociosqu gravida ac venenatis curabitur proin malesuada aliquam fusce urna augue elementum ornare vitae turpis maecenas ultricies.</p>
            </div>
        </div>
    </div>
</header>