<div class="navbar bg-transparent border-bottom navbar-expand-sm" style="font-size: 20px;">
    <div class="container">
        <a asp-controller="home" asp-action="index" class="navbar-brand text-danger"><i class="fa-solid fa-socks"></i> eShopApp</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-controller="shop" asp-action="list" class="nav-link text-primary">Products</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link text-primary">Cart</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link text-primary">Orders</a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link text-primary">About</a>
            </li>

            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <span class="nav-link">
                        @* <i class="fa-solid fa-minus"></i> *@
                        <i class="fa-solid fa-hashtag"></i>
                    </span>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup='true' aria-expanded="false">Management</a>

                    <ul class="dropdown-menu">
                        <li><a asp-controller="admin" asp-action="ProductList" class="dropdown-item text-primary">Product Management</a></li>
                        <li><a asp-controller="admin" asp-action="CategoryList" class="dropdown-item text-primary">Category Management</a></li>

                        @*<li><hr class="dropdown-divider"></li>*@
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup='true' aria-expanded="false">@User.Identity.Name</a>

                    <ul class="dropdown-menu">
                        <li><a asp-controller="account" asp-action="signout" class="dropdown-item text-primary">Logout</a></li>

                        @*<li><hr class="dropdown-divider"></li>*@
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item bg-danger">
                    <a asp-controller="account" asp-action="signin" class="nav-link text-light">JOIN US</a>
                </li>
            }
        </ul>
    </div>
</div>