<div class="container border-bottom">
    <nav class="navbar navbar-light justify-content-between bg-transparent">
        <div class="d-flex flex-row">
            <a asp-controller="home" asp-action="index" class="nav-item nav-link navbar-brand">Home</a>
            <a asp-controller="shop" asp-action="list" class="nav-item nav-link navbar-brand">Products</a>
            <a asp-controller="home" asp-action="about" class="nav-item nav-link navbar-brand">About</a>
        </div>
    </nav>
</div>