<div class="container border-bottom">
    <nav class="navbar navbar-light justify-content-between bg-transparent">
        <div class="d-flex flex-row">
            <a asp-controller="home" asp-action="index" class="nav-item nav-link navbar-brand">Home</a>
            <a asp-controller="home" asp-action="about" class="nav-item nav-link navbar-brand">About</a>
        </div>

        <div class="">
            <form class="form-inline d-flex flex-row">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" a>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div> 
    </nav>
</div>