<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShopApp</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap" rel="stylesheet">

    @RenderSection("CSS", false)

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    

    <div class="container pb-0 mb-0">
        @await Html.PartialAsync("/Views/Shared/Partials/_navbar.cshtml")

        @* Istesem aparib 'ProductList' ve diger sehifelerdede yaza bilerdim hemin bu tempdatadan data elde ederek sehifede yazdirma emeliyyatini, lakin tekrara duwmemek ucun '_Layout' icerisinde yaziram ve eger TempData-nin 'InformationalMessage' adli keyi bow deyilse demeli sehifede her hansi bir mesaj gosterilmek istenilir ve burada uygun hemin gosterilmesi istenilen mesaji gosterirem: *@
        <partial name="Partials/_AlertMessage" />

        @RenderBody()

        @await Html.PartialAsync("/Views/Shared/Partials/_footer.cshtml")
    </div>

    

    @RenderSection("Scripts", false)
</body>
</html>