<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShopApp</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="font-family: 'Lato', sans-serif;">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <div class="container pb-0 mb-0">
        @await Html.PartialAsync("/Views/Shared/Partials/_navbar.cshtml")

        @{
            @* Istesem aparib 'ProductList' ve diger sehifelerdede yaza bilerdim bunu, lakin tekrara duwmemek ucun '_Layout' icerisinde yaziram ve eger TempData bow deyilse demeli her hansi bir operasiya edilib ve mende hemin bu operasiyaya qarwiliq olaraq uygun mesaji gosteririem. *@

            AlertMessage alertMessage = TempData.Get<AlertMessage>("InformationalMessage");

            if (alertMessage != null)
            {
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="alert alert-@alertMessage.alertType">
                            @alertMessage.alertMessage
                        </div>
                    </div>
                </div>
            }

            TempData.Remove("InformationalMessage"); @* Bawqa sehifelere kecende kecmiw mesaj gorsenmesin deye mesaji silirem TempData-dan *@
        }

        @RenderBody()

        @await Html.PartialAsync("/Views/Shared/Partials/_footer.cshtml")
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>