body
{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.navbar-nav li a:hover
{
    background-color:rgb(13,110,253);
    color: white !important;
}

.navbar-nav li ul li a:active
{
    color: white;
}

.fa-check
{
    color: green !important;
}

.fa-xmark
{
    color: red !important ;
}

.phone-input {
    display: flex;
    align-items: center;
}

.phone-input select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.phone-input input {
    flex: 1;
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}