body
{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.navbar-nav li a:hover
{
    background-color:rgb(13,110,253);
    color: white !important;
}

.navbar-nav li ul li a:active
{
    color: white;
}

.fa-check
{
    color: green;
}

.fa-xmark
{
    color: red;
}