@model ResetModel

@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/loginForm.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
    <div class="wrapper bg-white">
        <h1>Email Confirmation Result</h1>

        @{
            AlertMessage alertMessage = TempData.Get<AlertMessage>("InformationalMessage");

            if (alertMessage != null)
            {
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="alert alert-@alertMessage.alertType">
                            @alertMessage.alertMessage
                        </div>
                    </div>
                </div>
            }

            TempData.Remove("InformationalMessage"); @* Bawqa sehifelere kecende kecmiw mesaj gorsenmesin deye mesaji silirem TempData-dan *@
        }
        
        <form asp-controller="Account" asp-action="Reset" method="post" class="pt-3">
            <div class="container text-center">
                <div class="row d-block">
                    <div class="form-group">
                        <div class="input-field">
                            <input type="Email" asp-for="Email" placeholder="Email" />
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-block text-center">Reset</button>   
                </div>
            </div>
        </form>
    </div>
</body>